
div{
    background-color: grey;
    width: 400px;
    height: 480px;
    margin-left: 280px;
    
    
    margin-top: 100px;
}
    
    
    
    
    
    img{
    padding: 30px;
    height: 250px;
    width: 250px;
    

}
h1{
    padding-left: 115px;
    padding-top: 13px;
}
span{
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-top: 13px;
}